/* browser reset */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
  	padding: 0;
  	border: 0;
  	margin: 0;
  	font-size: 100%;
  	font: inherit;
  		}

/* font reset */

 body h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
 		font-family: Helvetica, Arial, sans-serif;
 	}

 body {
 	background-color: #FFFFFF;
 	width: 1024px;
 	height: auto;
 	margin: 0px auto 0px auto;
 }
 p.logo {
 	text-align: center;
 }

 div.mast {
 	background-color: #FFFFFF;
 	width: 1024px;
 	height: 140px;
 }
 div.nav {
 	background-color: #2E3540;
 	width: 1024px;
 	height: 60px;

 }
.nav li	{
	display: inline;
	vertical-align: center;
	color: #ffffff;
	margin-top: 10px;
	padding-right: 30px;
	font-size: 18px;
}
.nav ul {
	text-align: right;
	padding-top: 20px;
}
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	color: #cccccc;
}
h1 {
	font-size: 36px;
}
div.main {
	width: 1024px;
	height: 900px;
}
.main h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-left: 40px;
	color: #5D5D5D;
}

.main p {
	padding-left: 40px;
	padding-right: 40px;
	color: #5D5D5D;
	line-height: 25px;
	margin-bottom: 20px;
}

h1.mast {
	font-size: 36px;
	color: #5D5D5D;
}
.imgstrip {
	width: 1024px;
	height: 300px;
	background-color: #ffffff;
	margin-top: 100px;
}
.imgstrip img {
	display: inline;
	border-left: 2px solid #8C94A1;
	border-bottom: 2px solid #8C94A1;
	padding: 0px;
	margin: 0px;
}
div.foot {
	width: 1024px;
	height: 140px;
	background-color: #2E3540;
	margin-top: 100px;
}
h3.foot {
	margin: 20px 0px 0px 40px;
	padding-top: 30px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
}
p.foot {
	color: #FFFFFF;
	margin: 0px;
}
p.resumefoot {
	margin-left: 40px;
	color: #FFFFFF;
	line-height: 22px;
}
h1.resume {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-left: 40px;
	color: #2E3540;
	font-weight: 600;
}
h2.resume {
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 40px;
	color: #2E3540;
	font-size: 22px;
	font-weight: 600;
}
p.resume {
	padding-left: 40px;
	padding-right: 40px;
	color: #5D5D5D;
	line-height: 25px;
	margin-bottom: 20px;
}
ul.resume {
	padding-left: 40px;
	color: #5D5D5D;
}
li.resume {
	margin-left: 15px;
	font-size: 16px;
	color: #5D5D5D;
	line-height: 25px;
	font-weight: 400;
}
h3.resume {
	font-size: 20px;
	font-weight: 600;
	margin-top: 40px;
	padding: 0px 0px 10px 40px;
	color: #2E3540;
	border-bottom: 2px solid #5B6470;
}
h4.resume {
	font-size: 18px;
	font-weight: 600;
	margin: 40px 0px 0px 40px;
}
h5.resume {
	font-size: 18px;
	font-weight: 600;
	margin-left: 40px;
	color: #252F5C;
}
h1.blog {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-left: 40px;
	color: #2E3540;
	font-weight: 600;
}
img.floatleft {
	float: left;
	border-left: 2px solid #8C94A1;
	border-bottom: 2px solid #8C94A1;
	margin-right: 40px;
}
div.clearfloat {
	width: 1024px;
	height: 5px;
	clear: both;
}
div.container {
	width: 1024px;
	height: 500px;
	background-color: red;
}
div.portfolio {
	width: 1024px;
}
.portfolio h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-left: 40px;
	color: #5D5D5D;
}

.portfolio p {
	padding-left: 40px;
	padding-right: 40px;
	color: #5D5D5D;
	line-height: 25px;
	margin-bottom: 20px;
}